@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$height: calc(60px + 4vh);
$heightmob: calc(35px + 4vh);


$main: #00647d;
$main2: #2e4057;
$violet: #62477a;
$rose: #a50034;
$light: #e3e3e3;
$gray: #c6cbcc;
$dark_gray: #7c888c;
$dark: #28353a;
$black: #1b2023;
$bg: #09151e;
$green: #007F46;
$gold: #e28c00;


*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
}

*::-moz-selection {
  /* Code for Firefox */
  background: #00a3cc !important;
}

*::selection {
  background: #00a3cc !important;
}

html {
  font-family: 'Rubik', sans-serif !important;
}

body {
  padding: 0px !important;
  margin: 0px !important;
  overflow-x: hidden;
  min-height: 100vh;
  background-color: #ebeaed;
  color: $dark;
}

a {
  text-decoration: none;
  color: $main;
  cursor: pointer;
}

input,
button,
select,
textarea {
  font-family: 'Rubik', sans-serif;
  border: none;
  background-color: #e3e3e3;
  color: #333;
  padding: 0;
}

button,
select {
  cursor: pointer;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: 0 !important;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}


::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: $dark_gray;
  &:hover {
    background: #55555575;
  }
}

img {
  pointer-events: none;
}

h1 {
  font-size: calc(12px + 1.2vw);
  justify-content: center;
  display: flex;
  align-items: center;
}

h1:before,
h1:after {
  content: '';
  flex-grow: 1;
  margin: 0 20px;
  border: 1px solid #262626;
}

main {
  width: 95vw;
  max-width: 1200px;
  margin: auto;
  min-height: 50vh;
}